@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
    --yellow:#FFC900;
    --black:#040e27;
    --light-color:#666;
    --bg-color:#ececec;
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset;   
}

body{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem 2rem;
    color: var(--light-color);
}

.container .title span{
    color: var(--yellow)
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.user-details .input-box input{
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    text-transform: none;
    margin: .7rem 0;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: none;
}

.user-details .input-box select{
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    text-transform: none;
    margin: .7rem 0;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: none;
}

.user-details .input-box select:focus,
.user-details .input-box select:valid{
    outline: none;
    box-shadow: var(--box-shadow-inset) !important;
}

.user-details .input-box select option{
    margin-bottom: 20px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    outline: none;
    box-shadow: var(--box-shadow-inset) !important;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;

}

form .gender-details span{
    font-size: 18px;
}

form .marital-details .marital-title{
    font-size: 20px;
    font-weight: 500;
}

form .marital-details span{
    font-size: 18px;
}

form .pension-details .pension-title{
    font-size: 20px;
    font-weight: 500;
}

form .pension-details span{
    font-size: 18px;
}

form .computer-details .computer-title{
    font-size: 20px;
    font-weight: 500;
}

form .computer-details span{
    font-size: 18px;
}

form .category{
    width: 100% !important;
    display: flex;
    margin: 40px 0;
}

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
    font-size: 1.25rem;
}

form .category label{
    margin-right: 40px;
}

#dot-gender-male:checked ~ .category label .one,
#dot-gender-female:checked ~ .category label .two,
#dot-gender-other:checked ~ .category label .three{
background: #010101;
border-color: #d9d9d9;
}

#dot-marital-married:checked ~ .category label .one,
#dot-marital-unmarried:checked ~ .category label .two,
#dot-marital-divorced:checked ~ .category label .three,
#dot-marital-widowed:checked ~ .category label .four{
background: #010101;
border-color: #d9d9d9;
}

#dot-pension-bank:checked ~ .category label .one,
#dot-pension-post:checked ~ .category label .two{
background: #010101;
border-color: #d9d9d9;
}

#dot-computer-yes:checked ~ .category label .one,
#dot-computer-no:checked ~ .category label .two{
background: #010101;
border-color: #d9d9d9;
}


form input[type="radio"]{
display: none; 
}

.button{
    text-align: center;
}

form .button input{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--yellow);
    border-radius: 0.5rem;
    background: var(--yellow);
    color: #ffff;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    width: 60%;
}

form .button input:hover{
    background: var(--black);
    color: var(--yellow);
}

p{
    font-size: 20px;
}

.radio-tags{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.gender-marital, .iwould-details{
    width: 100% !important;
}

.iwould-details{
    margin-left: 40px;
}

@media(max-width: 584px){
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .category{
        width: 100%;
    }

    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}

@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    .about, .services, .contact, .team{
        padding: 2rem;
    }

    .about .section-container{
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .about .section-container .container-data{
        display: flex;
        flex-direction: column-reverse;
    }

    .about .section-container .container-data > div{
        margin-top: 3rem;
    }
}

@media (max-width:800px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 1.5rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .container-card{
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

@media (max-width: 1024px){
    .form-section-one{
        display: flex;
        flex-direction: column;
    }    
}
