/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;

}

.main-title{
  text-align: center;
  color:#181c1c;
}

.container{
  width: 75vw;
  height: 60vh;
  display:grid;
  grid-gap:2rem;
  margin: 3rem auto;
  transition: all 0.5s ease;
}

.item{
  width:100%;
  height:100%;
  border:3px solid rgb(51, 51, 51);
  border-radius:15px;
  padding:4px 8px;
}

.item-content{
  width: 100%;
  height: 100%;
  display:gird;
  /* flex-direction: column; */
  /* justify-content:center; */
  /* align-items:center; */
  text-align: center;
  /* grid-gap: 0.234rem; */
}

.item-content i{
  font-size:2rem;
  margin:10px 0;
  color: rgb(97, 97, 97);
}

.item-btn{
  font-size:1.2rem;
  margin:10px 0;
  border:none;
  outline:none;
  padding:0.564rem 1.2rem;
  border-radius:50px;
  transition:all 1s ease;
  background:rgb(61, 61, 61);
  color:#fff;
  font-size: 1rem;
  cursor: pointer;
}

.item-btn:hover{
  /* background: rgb(233, 233, 233); */
  /* color:#000; */
  border-radius:10px;
  transform: scale(1.2);
}



.item-title{
  font-size:1.5rem;
}



@media (min-width: 990px){
  .container{
    /* grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (max-width: 989px){
  .container{
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (max-width: 600px){
  .container{
    grid-template-columns:1fr;
  }
}


footer{
  width: 100%;
  height: 15vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-link{
  font-size: 1.8rem;
  font-weight: 1000;
  text-decoration: none;
  color: hsl(210, 3%, 12%);
}

.btn-section{
  width: 100%;  
  height: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.btn-item{
  font-size: 1.4rem;
  color: hsl(210, 3%, 12%);
  transition:all 0.5s ease;
}

.btn-item:hover{
  transform:scale(1.5);
  color:rgb(129, 129, 129);
}